/* Estilos genericos */

body {
  font-family: "Montserrat", sans-serif;
  color: #646464;
  margin: 0;
  background-color: #fff;
}

h1 {
  color: #282766;
  font-size: 4.2em;
  font-weight: 800;
}

h2 {
  color: #282766;
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 30px;
}

h3 {
  font-size: 1.5em;
  font-weight: 200;
}

h4 {
  font-size: 1em;
  font-weight: 600;
}

p {
  font-weight: 300;
}

button {
  background-color: #282766;
  color: white;
  border-radius: 3px;
  border-color: #282766;
  padding: 13px;
  cursor: pointer;
  outline-color: none;
  border: none;
}

button:hover {
  background-color: #414099;
}

.iconColorW {
  color: white;
  padding-right: 20px;
}

.iconColorW:hover {
  color: #fb4e47;
}

.iconColorP {
  color: #282766;
}

.iconColorO {
  color: #fb4e47;
  font-size: 1.5em;
}

.circulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 10%);
  margin-bottom: 10px;
}

th,
td {
  text-align: left;
  padding: 15px;
}

/* Estilos Nav */

.logo {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  transition: transform 0.4s linear;
}

.animacion:hover .logo {
  transform: translatey(-5px);
}

.nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  /* display: inline;*/
  font-weight: 300;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  align-items: baseline;
}

.navbar-collapse {
  justify-content: end;
}

.nav li {
  display: inline;
  padding: 1em;
}

nav a {
  text-decoration: none;
  color: #3b3b3b;
}

.nav a:hover {
  color: #282766;
}

.underLine {
  border-bottom: 3px solid #282766;
}

.fas.fa-bars {
  display: none;
}

/* Estilos HOME/seccion 1 */

.seccion1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  height: 80vh;

  overflow: hidden;
  position: relative;
}

.seccion1-textos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 20%;
}

.seccion1-img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: end;
}

.seccion1-img img {
  position: absolute;
  transform: translatex(-20%);
  width: 850px;
}

.seccion1-textos h1 {
  margin-bottom: 0;
}

.seccion1-textos h3 {
  margin-top: 0;
}

/* Estilos Home/seccion 2 */

.seccion2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  height: 550px;
  background-color: #f1f5f8;
  /*
    align-items: center;
    justify-items: center;
    */
}

.seccion2-fondoWhite {
  background-color: #fff;
  padding-top: 0;
}

.seccion2-textos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 15%;
}

.seccion2-textos h2 {
  margin-top: 0;
  text-align: start;
}

.seccion2-textos form {
  padding-top: 20px;
}

.seccion2-img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.seccion2-img img {
  border-radius: 3%;
}

/* Estilos Home/seccion 3 */

.seccion3-contenedor {
  height: 600px;
}

.seccion3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 3px;
  padding: 20px;
  height: 60%;
  align-items: center;
  justify-items: center;
}

.seccion3-rowGap {
  row-gap: 20px;
}

.seccion3-contenedor h2 {
  text-align: center;
  padding-top: 50px;
}

.seccion3-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 250px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s linear;
}

.animacion:hover .seccion3-card {
  transform: translatey(-10px);
}

.seccion3-boton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 5;
}

/* Estilos Home/seccion 4 */

.seccion4 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0px 0 0 20px;
  height: 597px;
  background-color: #f1f5f8;
}

.seccion4-textos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0 15%;
}

.seccion4-textos form {
  padding-top: 20px;
}

.seccion4-img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: end;
}

/* Estilos footer */

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: #0c263f;
  height: 9rem;
  padding-top: 0;
  margin: 0;
  color: white;
  text-align: right;
  font-size: 0.9em;
}

.footer-logo {
  grid-column: 1/2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
}

.footer-logo a img:hover {
  fill: #fb4e47;
}

.footer-legales {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-legales p {
  margin-bottom: 0;
}

.footer-redesSociales {
  grid-column: 3/4;
  grid-row: 2/4;
  /*
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    */

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-redesSociales p {
  padding-right: 20px;
  margin-bottom: 0px;
}

/* Estilos seccion formacion */

.tabla {
  background-color: #f1f5f8;
  text-align: -webkit-center;
  padding: 20px;
}

/* Estilos seccion proyecos */

.contenedorProyectos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  row-gap: 10vh;
  margin: 30px;
}

.proyectos-img-derecha {
  display: flex;
  justify-content: end;
}

.proyectos-img-izquierda {
  display: flex;
  justify-content: start;
}

.proyectos-textos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.proyectos-textos h2 {
  margin: 10px 0 0 0;
  padding: 0;
}

.proyecto-tituloPrincipal {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 300;
}

.proyectos-titulo {
  color: #282766;
  font-size: 1.7em;
  font-weight: 800;
  margin: 0 0 20px 0;
}

.proyectos-textos form {
  margin-top: 16px;
}

/* Estilos seccion contacto */

.contenedorContacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  margin: 10px 15%;
  gap: 20px;
}

.contacto {
  border: 1px solid lightgray;
  border-radius: 6px;
  margin-bottom: 15px;
  padding: 8px 15px;
  margin-bottom: 20px;
}

.contacto-input {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.contacto-fila {
  grid-column: 1/3;
}

.contacto-fila input {
  width: 92%;
  height: 50px;
}

.contacto-inline {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.contacto-inline p {
  padding-left: 10px;
  font-size: 0.8em;
}

.contacto-botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
}

.contacto-botones button {
  margin: 3px;
}

/* Media Queries */

@media (max-width: 1024px) {
  h1 {
    font-size: 3em;
  }

  h1 br {
    display: none;
  }

  h3 {
    font-size: 1.8em;
  }

  .nav {
    padding: 7px 10px 0 30px;
  }

  .seccion1 {
    grid-template-columns: 1fr;
    height: 90vh;
    padding-top: 0;

    overflow: visible;
    position: static;
    /*
        align-items: center;
        justify-items: center;
        */
  }

  .seccion3-contenedor {
    height: auto;
  }

  .seccion1-textos {
    align-items: center;
    padding: 0;
    justify-content: space-evenly;
  }

  .seccion1-img {
    align-content: center;
  }

  .seccion1-img img {
    position: static;
    transform: none;
    width: 700px;
  }

  .seccion3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 20px;
    gap: 30px;
    align-items: center;
    justify-items: center;
  }

  .seccion3-boton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }

  .seccionPosicion-end {
    place-self: end;
  }

  .seccionPosicion-start {
    place-self: start;
  }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  /* Escondido para probar alternativa Bootstrap
  header nav.nav ul {
    display: none;
  }
  */

  .nav {
    align-items: center;
  }

  /*  Escondido para probar alternativa Bootstrap
  .fas.fa-bars {
    display: flex;
    font-size: 1.5em;
  }
  */

  h1 {
    font-size: 2.5em;
  }

  .seccion1-img img {
    width: 90%;
  }

  .seccion2 {
    grid-template-columns: 1fr;
    height: auto;
  }

  .seccion2-textos {
    text-align: center;
    padding: 40px 0;
  }

  .seccion2-textos h2 {
    text-align: center;
  }

  .seccion2-textos p {
    padding: 0 15%;
  }

  /* Seccion formacion */

  .seccion2-img-modificacion {
    display: flex;
    justify-content: flex-end;
    height: 60vh;
  }

  .seccion2-img-modificacion img {
    width: 100%;
    height: 100%;
    padding-top: 0;
  }

  .seccion2-textos-modificacion {
    padding-top: 0%;
    padding-bottom: 20px;
  }

  /* Seccion proyectos */

  .contenedorProyectos {
    grid-template-columns: 1fr;
  }

  .proyectos-img-derecha {
    justify-content: center;
  }

  .proyectos-img-izquierda {
    justify-content: center;
  }

  #bbf-1 {
    grid-row: 1/1;
  }

  #rl-1 {
    grid-row: 5/5;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  /* Escondido para probar alternativa Bootstrap
  header nav.nav ul {
    display: none;
  }
  */

  .nav {
    align-items: center;
  }
  /*Escondido para probar alternativa Bootstrap
  .fas.fa-bars {
    display: flex;
    font-size: 1.5em;
  }
  */

  h1 {
    font-size: 2.5em;
    text-align: center;
  }

  h3 {
    font-size: 1.5em;
    font-weight: 200;
  }

  .seccion1-img img {
    width: 100%;
  }

  .seccion1-textos {
    justify-content: center;
  }

  .seccion2 {
    grid-template-columns: 1fr;
    height: auto;
  }

  .seccion2-img img {
    width: 200px;
    height: 230px;
    padding-top: 20px;
  }

  .seccion2-textos {
    text-align: center;
    padding: 40px 0;
  }

  .seccion2-textos h2 {
    text-align: center;
  }

  .seccion2-textos p {
    padding: 0 5%;
  }

  .seccion3 {
    grid-template-columns: 1fr;
  }

  .seccionPosicion-end {
    place-self: unset;
    display: contents;
  }

  .seccionPosicion-start {
    place-self: unset;
    display: contents;
  }

  .seccion3-card {
    width: 75%;
  }

  .seccion4 {
    grid-template-columns: 1fr;
  }

  .seccion4-img {
    display: none;
  }

  .footer-redesSociales {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .footer-redesSociales p {
    display: none;
  }

  .footer-legales {
    grid-column: 1/4;
    grid-row: 2/4;
  }

  /* Seccion formacion */

  .seccion2-img-modificacion img {
    height: 90%;
    width: 90%;
    padding-top: 0;
  }

  .seccion2-textos-modificacion {
    padding-top: 0%;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  th,
  td {
    text-align: left;
    padding: px;
  }

  .tabla {
    overflow-x: auto;
  }

  /* Seccion proyectos */

  .contenedorProyectos {
    grid-template-columns: 1fr;
  }

  .proyectos-img-derecha {
    justify-content: center;
  }

  .proyectos-img-izquierda {
    justify-content: center;
  }

  #bbf-1 {
    grid-row: 1/1;
  }

  #rl-1 {
    grid-row: 5/5;
  }

  /* Seccion contacto */

  .contenedorContacto {
    grid-template-columns: 1fr;
  }

  .contacto-fila {
    grid-column: unset;
  }
}
