main {
  .seccion1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    height: 80vh;

    overflow: hidden;
    position: relative;

    h1 {
      margin-bottom: 0;
    }

    h3 {
      font-size: 1.5em;
      font-weight: 200;
      margin-top: 0;
    }

    .seccion1-textos {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 20%;
    }

    .seccion1-img {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-content: end;
    }

    .seccion1-img img {
      position: absolute;
      transform: translatex(-20%);
      width: 850px;
    }
  }

  .seccion2 {
    @include grilla1($colorFondo2, $paddingGlobal, 550px);

    .seccion2-textos {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      padding-right: 15%;
    }

    h2 {
      margin-bottom: 30px;
      margin-top: 0;
      text-align: start;
    }

    p {
      font-weight: 300;
    }

    form {
      padding-top: 20px;
    }

    .seccion2-img {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
    }

    img {
      border-radius: 3%;
    }
  }

  h2 {
    text-align: center;
    padding-top: 50px;
  }
  .seccion3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 3px;
    padding: 20px;
    height: 60vh;
    align-items: center;
    justify-items: center;

    .seccion3-rowGap {
      row-gap: 20px;
    }

    .seccion3-card {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      height: 200px;
      width: 250px;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.4s linear;

      &:hover {
        transform: translatey(-10px);
      }
    }
  }
  .seccion3-boton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 5;
    margin: 0 0 50px 0;
  }

  .seccion4 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0px 0 0 20px;
    height: 597px;
    background-color: #f1f5f8;

    .seccion4-textos {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      padding: 0 15%;
    }

    form {
      padding-top: 20px;
    }

    .seccion4-img {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-content: end;
    }
  }

  @media (max-width: 1024px) {
    .seccion1 {
      grid-template-columns: 1fr;
      height: 90vh;
      padding-top: 0;

      overflow: visible;
      position: static;
      /*
        align-items: center;
        justify-items: center;
        */
      .seccion1-textos {
        align-items: center;
        padding: 0;
        justify-content: space-evenly;
      }

      .seccion1-img {
        align-content: center;
      }

      .seccion1-img img {
        position: static;
        transform: none;
        width: 700px;
      }
    }
    .seccion3-contenedor {
      height: auto;
      .seccion3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 20px;
        gap: 30px;
        align-items: center;
        justify-items: center;
        height: auto;
      }

      .seccion3-boton {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
      }

      .seccionPosicion-end {
        place-self: end;
      }

      .seccionPosicion-start {
        place-self: start;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 900px) {
    .seccion1 {
      h1 {
        font-size: 2.5em;
        text-align: center;
      }

      h3 {
        font-size: 1.5em;
        font-weight: 200;
      }
      .seccion1-img {
        img {
          width: 80%;
        }
      }
    }
    .seccion2 {
      grid-template-columns: 1fr;
      height: auto;
      .seccion2-textos {
        text-align: center;
        padding: 40px 0;
      }

      .seccion2-textos h2 {
        text-align: center;
      }

      .seccion2-textos p {
        padding: 0 15%;
      }
    }
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .seccion1 {
      h1 {
        font-size: 2.5em;
        text-align: center;
      }

      h3 {
        font-size: 1.5em;
        font-weight: 200;
      }
      .seccion1-img {
        justify-content: flex-start;
      }

      .seccion1-img img {
        width: 100%;
      }

      .seccion1-textos {
        justify-content: center;
      }
    }
    .seccion2 {
      grid-template-columns: 1fr;
      height: auto;
      .seccion2-img img {
        width: 210px;
        height: 230px;
        margin-top: 30px;
      }

      .seccion2-textos {
        text-align: center;
        padding-right: 0;
        margin-bottom: 30px;
      }

      .seccion2-textos h2 {
        text-align: center;
      }

      .seccion2-textos p {
        padding: 0 5%;
      }
    }
    .seccion3-contenedor {
      .seccion3 {
        grid-template-columns: 1fr;

        .seccionPosicion-end {
          place-self: unset;
          display: contents;
        }

        .seccionPosicion-start {
          place-self: unset;
          display: contents;
        }

        .seccion3-card {
          width: 75%;
        }
      }
    }
    .seccion4 {
      display: block;
      grid-template-columns: 1fr;
      padding: 0px;
      .seccion4-img {
        display: none;
      }
    }
  }
}
